* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Roboto', sans-serif;
   scroll-behavior: smooth;
}

.bg {
   background-repeat: no-repeat;
   background-image: linear-gradient(to top, #0C4A6E 0%, #330867 100%);
}

.home-icon {
   font-family: 'Changa', sans-serif;
}

.skills-button {
   background-color: #7681E4;
}

.skills-button:hover {
   background-color: white;
}

@media (max-width: 768px) {

   .hamburger-icon {
      justify-content: end;
   }

   .menu {
      background-repeat: no-repeat;
      background-image: linear-gradient(to top, #0C4A6E 0%, #330867 100%);
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      padding: 100px 0;
      transition: 0.3s;
   }

   .menu-list {}

   .menu-item:not(:last-child) {
      margin-bottom: 30px;
   }

   header,
   header.sticky {
      padding: 20px 50px;
   }
}




/* The sticky class is added to the navbar with JS when it reaches its scroll position */
/* .sticky {
      position: fixed;
      top: 0;
      width: 100%;
   } */